@import '../../scss/variables';
@import '../../scss/mixins';

.root {
  background-color: $grey;
  border-radius: 5px;
  padding: 15px 20px;
  color: $dark-grey;
}

.imgBox {
  border-radius: 10px;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 769px) {
    width: 70%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
  @media (max-width: 420px) {
    height: 400px;
  }
}

.info {
  margin: 10px 0;
  height: 200px;
}

.price {
  font-size: 25px;
  font-weight: 700;
  color: $blue;
  margin-bottom: 5px;
}

.title {
  display: inline-block;
  color: $dark-grey;
  font-size: 19px;
  cursor: pointer;
  margin-bottom: 10px;
  @include hoverLine($blue);
}

.btn {
  display: block;
  width: 100%;
  line-height: 120%;
  @include button(white, $blue);
}

.confBtn {
  background-color: darken($blue, 20%);
  @include confButton(80%, 10%, -50px);
}
