@import '../../scss/variables';
@import '../../scss/mixins';

.filterbox {
  margin: 10px 0;
  @include flex(flex-start);
  overflow: auto;
}

.item {
  @include bglessButton($dark-grey, $blue);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: $dark-grey;
  margin-bottom: 10px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.active {
  color: white;
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 7%);
  }
}
